/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

/* .one-third-left { */
.col-1 {
  float: left;
  width: 32%;
  /* background: #ccc; */
  /* margin-right: 1%; */
}

/* .one-third-right { */
/* .col-2 {
  float: left;
  width: 33.33%;
} */

/* .two-thirds { */
.col-2 {
  float: left;
  width: 66%;
  /* background: #ccc; */
  /* margin-right: 1%; */
}

/* .top-thirds { width: 100%, but block element, so default to 100% and float */
.col-3 {
  background: #fff;
}

[class*="col-"] {
  margin-left: 2%;
}

.first {
  margin-left: 0%;
}
